@import "tailwindcss";

@theme {
  /* colors */
  --color-active-purple: #deccfe;
  --color-primary-purple: #6e39cb;
  --color-primary-gray: #3a3541;
  --color-hover-purple: #f3ecfe;
  --color-light-gray: #dbdcde;
  --color-surface-gray: #f4f5f9;
  --color-medium-gray: #89868D

  /* screens */
  --breakpoint-3xl: 119rem;
  --breakpoint-laptop: 90rem;

  /* fonts */
  --font-lato: "Lato", "sans-serif";
}

@layer utilities {
  .submenu-transition {
    @apply overflow-hidden transition-all duration-300 ease-in-out;
  }

  .submenu-open {
    @apply max-h-full opacity-100;
  }

  .submenu-closed {
    @apply max-h-0 opacity-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  p {
    @apply text-[#1E1B39];
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Optional: track background */
}

::-webkit-scrollbar-thumb {
  background-color: #6e39cb; /* Scrollbar slider (thumb) */
  border-radius: 6px;
  border: 3px solid #f0f0f0; /* Optional: border around thumb for padding */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6e39cb #f0f0f0; /* thumb color, track color */
}
